html {
	font-size: 10px;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.6rem;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#root {
	min-height: 100%;
}
